In [160]:
#Installing libraries
!pip install pandas
!pip install pymongo
!pip install boto3
!pip install datetime
!pip install kafka

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Requirement already satisfied: boto3 in /opt/conda/lib/python3.10/site-packages (1.28.73)
Requirement already satisfied: s3transfer<0.8.0,>=0.7.0 in /opt/conda/lib/python3.10/site-packages (from boto3) (0.7.0)
Requirement already satisfied: botocore<1.32.0,>=1.31.73 in /opt/conda/lib/python3.10/site-packages (from boto3) (1.31.73)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from boto3) (1.0.1)
Requirement already satisfied: urllib3<2.1,>=1.25.4 in /opt/conda/lib/python3.10/site-packages (from botocore<1.32.0,>=1.31.73->boto3) (1.26.14)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.10/site-packages (from botocore<1.32.0,>=1.31.73->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.32.0,>=1.31.73->boto3) (1.16.0)
Requirement already satisfied: datetime in /opt/conda/lib/python3.10/site-packages (5.2)
Requirement already satisfied: zope.interface in /opt/conda/lib/python3.10/site-packages (from datetime) (6.1)
Requirement already satisfied: pytz in /opt/conda/lib/python3.10/site-packages (from datetime) (2022.7.1)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from zope.interface->datetime) (67.3.1)
Requirement already satisfied: kafka in /opt/conda/lib/python3.10/site-packages (1.3.5)

In [163]:
import os
import glob
import pandas as pd
import boto3
import botocore
from datetime import datetime
from io import StringIO
import json
from json import loads

# Data extraction and cleansing

In [9]:
#Reading file with states data
states = pd.read_csv('estados.csv')
states

   codigo_uf       uf            nome  latitude  longitude regiao
0        101  AWARI-1  Awari Estado 1    -10.83     -63.34  Norte
1        102  AWARI-2  Awari Estado 2     -8.77     -70.55  Norte

In [10]:
#Reading file with cities data
cities = pd.read_csv('municipios.csv')
cities

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario
0,9900001,Minha cidade 1,-16.7573,-49.4412,0,52,1050,100,America/Sao_Paulo
1,9900002,Minha cidade 2,-18.4831,-47.3916,0,31,4001,101,America/Sao_Paulo

In [11]:
#Reading file with states data - full
states_full = pd.read_csv('estados_batch.csv')
states_full

    codigo_uf  uf                 nome  latitude  longitude        regiao
0          11  RO             Rond√¥nia    -10.83     -63.34         Norte
1          12  AC                 Acre     -8.77     -70.55         Norte
2          13  AM             Amazonas     -3.47     -65.10         Norte
3          14  RR              Roraima      1.99     -61.33         Norte
4          15  PA                 Par√°     -3.79     -52.48         Norte
5          16  AP                Amap√°      1.41     -51.77         Norte
6          17  TO            Tocantins     -9.46     -48.26         Norte
7          21  MA             Maranh√£o     -5.42     -45.44      Nordeste
8          22  PI                Piau√≠     -6.60     -42.28      Nordeste
9          23  CE                Cear√°     -5.20     -39.53      Nordeste
10         24  RN  Rio Grande do Norte     -5.81     -36.59      Nordeste
11         25  PB              Para√≠ba     -7.28     -36.72      Nordeste
12         26  PE           Pernambuco     -8.38     -37.86      Nordeste
13         27  AL              Alagoas     -9.62     -36.82      Nordeste
14         28  SE              Sergipe    -10.57     -37.45      Nordeste
15         29  BA                Bahia    -13.29     -41.71      Nordeste
16         31  MG         Minas Gerais    -18.10     -44.38       Sudeste
17         32  ES       Esp√≠rito Santo    -19.19     -40.34       Sudeste
18         33  RJ       Rio de Janeiro    -22.25     -42.66       Sudeste
19         35  SP            S√£o Paulo    -22.19     -48.79       Sudeste
20         41  PR               Paran√°    -24.89     -51.55           Sul
21         42  SC       Santa Catarina    -27.45     -50.95           Sul
22         43  RS    Rio Grande do Sul    -30.17     -53.50           Sul
23         50  MS   Mato Grosso do Sul    -20.51     -54.54  Centro-Oeste
24         51  MT          Mato Grosso    -12.64     -55.42  Centro-Oeste
25         52  GO                Goi√°s    -15.98     -49.86  Centro-Oeste
26         53  DF     Distrito Federal    -15.83     -47.86  Centro-Oeste

In [14]:
#Joining states info with cities info
df_cities = states_full.join(cities.set_index('codigo_uf'), on='codigo_uf', how='inner', lsuffix='_state', rsuffix='_city')
df_cities

,codigo_uf,uf,nome_state,latitude_state,longitude_state,regiao,codigo_ibge,nome_city,latitude_city,longitude_city,capital,siafi_id,ddd,fuso_horario
16,31,MG,Minas Gerais,-18.10,-44.38,Sudeste,9900002,Minha cidade 2,-18.4831,-47.3916,0,4001,101,America/Sao_Paulo
25,52,GO,Goi√°s,-15.98,-49.86,Centro-Oeste,9900001,Minha cidade 1,-16.7573,-49.4412,0,1050,100,America/Sao_Paulo

In [27]:
#Appending new states info if needed
states.rename(columns={"nome":"nome_state", 'latitude':'latitude_state', 'longitude':'longitude_state'}, inplace=True)
df = pd.concat([df_cities, states])
df

,codigo_uf,uf,nome_state,latitude_state,longitude_state,regiao,codigo_ibge,nome_city,latitude_city,longitude_city,capital,siafi_id,ddd,fuso_horario
16,31,MG,Minas Gerais,-18.10,-44.38,Sudeste,9900002.0,Minha cidade 2,-18.4831,-47.3916,0.0,4001.0,101.0,America/Sao_Paulo
25,52,GO,Goi√°s,-15.98,-49.86,Centro-Oeste,9900001.0,Minha cidade 1,-16.7573,-49.4412,0.0,1050.0,100.0,America/Sao_Paulo
0,101,AWARI-1,Awari Estado 1,-10.83,-63.34,Norte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,102,AWARI-2,Awari Estado 2,-8.77,-70.55,Norte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data ingestion setup

In [71]:
#Creating client to connect to MinIO
client = boto3.client('s3',
    endpoint_url='http://awari-minio-nginx:9000',
    aws_access_key_id='E3sfE0hkvnUXBcpU',
    aws_secret_access_key='fc2kh6jZjHPyl6opKA8bTYA9xLKw2J8I',
    aws_session_token=None,
    config=boto3.session.Config(signature_version='s3v4'),
    verify=False,
    region_name='sa-east-1'
)

In [147]:
#Creating function to save in S3/MinIO
def save_key_to_s3(data_frame, key):
    csv_buffer = StringIO()
    csv = data_frame.to_csv(csv_buffer, index=False)
    client.put_object(Body=csv_buffer.getvalue(), Bucket='exercicio-aula-06', Key=key)
    response = client.get_object(Bucket='exercicio-aula-06', Key=key)
    return response

# Data ingestion - incremental method

In [151]:
x=pd.read_csv(client.get_object(Bucket='exercicio-aula-06', Key='MG/cidades.csv').get("Body"))
x

,Unnamed: 0,codigo_uf,uf,nome_state,latitude_state,longitude_state,regiao,codigo_ibge,nome_city,latitude_city,longitude_city,capital,siafi_id,ddd,fuso_horario
0,16.0,31,MG,Minas Gerais,-18.1,-44.38,Sudeste,3100104.0,Abadia dos Dourados,-18.4831,-47.3916,0.0,4001.0,34.0,America/Sao_Paulo
1,16.0,31,MG,Minas Gerais,-18.1,-44.38,Sudeste,3100203.0,Abaet√©,-19.1551,-45.4444,0.0,4003.0,37.0,America/Sao_Paulo
2,16.0,31,MG,Minas Gerais,-18.1,-44.38,Sudeste,3100302.0,Abre Campo,-20.2996,-42.4743,0.0,4005.0,31.0,America/Sao_Paulo
3,16.0,31,MG,Minas Gerais,-18.1,-44.38,Sudeste,3100401.0,Acaiaca,-20.3590,-43.1439,0.0,4007.0,31.0,America/Sao_Paulo
4,16.0,31,MG,Minas Gerais,-18.1,-44.38,Sudeste,3100500.0,A√ßucena,-19.0671,-42.5419,0.0,4009.0,33.0,America/Sao_Paulo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,16.0,31,MG,Minas Gerais,-18.1,-44.38,Sudeste,3171907.0,Virgol√¢ndia,-18.4738,-42.3067,0.0,5439.0,33.0,America/Sao_Paulo
850,16.0,31,MG,Minas Gerais,-18.1,-44.38,Sudeste,3172004.0,Visconde do Rio Branco,-21.0127,-42.8361,0.0,5441.0,32.0,America/Sao_Paulo
851,16.0,31,MG,Minas Gerais,-18.1,-44.38,Sudeste,3172103.0,Volta Grande,-21.7671,-42.5375,0.0,5443.0,32.0,America/Sao_Paulo
852,16.0,31,MG,Minas Gerais,-18.1,-44.38,Sudeste,3172202.0,Wenceslau Braz,-22.5368,-45.3626,0.0,5421.0,35.0,America/Sao_Paulo
853,NaN,31,MG,Minas Gerais,-18.1,-44.38,Sudeste,9900002.0,Minha cidade 2,-18.4831,-47.3916,0.0,4001.0,101.0,America/Sao_Paulo

In [148]:
#Creating a loop to validate the new data with each state file

for i in range(pd.unique(df['uf']).size):
    state_name = pd.unique(df['uf'])[i]
    cities_from_state = df[df['uf'] == pd.unique(df['uf'])[i]]
    key_cities = state_name + '/cidades.csv'
    print(state_name)
    
    #Checking if the file already exists or creating a new empty file
    try:
        response = client.get_object(Bucket='exercicio-aula-06', Key=key_cities)
        status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")
    except botocore.exceptions.ClientError as e:
        if e.response['Error']['Code'] == "NoSuchKey":
            #If key_cities doesn't exist
            status_df = pd.DataFrame(columns = df.columns)
            response = save_key_to_s3(status_df, key_cities)
            print('File succesfully created!')
    cities_df_minio = pd.read_csv(response.get("Body"))
    
    #Appending data in the datalake with the new data
    new_cities = pd.concat([cities_df_minio, cities_from_state])
    
    #Saving new files in the datalake
    response = save_key_to_s3(new_cities, key_cities)
    
    print('OK!\n')

MG
OK!

GO
OK!

AWARI-1
File succesfully created!
OK!

AWARI-2
File succesfully created!
OK!